<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.AchievementTypeMapper">
    <insert id="addAchievementType" parameterType="AchievementType">
        insert into achievement_type(at_name) values(#{at_name})
    </insert>
    <delete id="delAchievementType" parameterType="AchievementType">
        delete from achievement_type where at_id = #{at_id}
    </delete>
    <select id="findAllAchievementType" resultType="AchievementType">
        select * from achievement_type
    </select>
    <select id="selectAchievementTypeByName" parameterType="string" resultType="AchievementType">
        select * from achievement_type where
        at_name = #{at_name}
    </select>
    <update id="updateAchievementType" parameterType="AchievementType">
        update achievement_type
        set
        at_name = #{at_name}
        where
        at_id = #{at_id}
    </update>
</mapper>