<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.AuthMapper">
    <insert id="addAuth" parameterType="Auth">
        insert into auth(auth_name) values(#{auth_name})
    </insert>
    <delete id="delAuth" parameterType="Auth">
        delete from auth where auth_id = #{auth_id}
    </delete>
</mapper>