<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.AuthMapper">

    <resultMap id="authMap" type="com.sicnu.pojo.Auth">
        <id property="auth_id" column="auth_id"/>
        <result property="auth_name" column="auth_name"/>
        <result property="auth_resource" column="auth_resource"/>
        <result property="auth_pid" column="auth_pid"/>
        <result property="open" column="open"/>
    </resultMap>
    <resultMap id="authRoleMap" type="com.sicnu.pojo.Auth" extends="authMap">
        <collection property="roleAuths" ofType="com.sicnu.pojo.RoleAuth">
            <result property="auth_id" column="auth_id"/>
            <result property="role_id" column="role_id"/>
            <collection property="roleList" ofType="com.sicnu.pojo.Role">
                <id property="role_id" column="role_id"/>
                <result property="role_name" column="role_name"/>
            </collection>
        </collection>
    </resultMap>

    <insert id="addAuth" parameterType="Auth">
        insert into auth(
        auth_name,
        auth_pid,
        auth_resource,
        `open`)
        values(
        #{auth_name},
        #{auth_pid},
        #{auth_resource},
        #{open})
    </insert>
    <delete id="delAuth" parameterType="Auth">
        delete from auth where auth_id = #{auth_id}
    </delete>
    <select id="findAllAuth" resultType="Auth">
        select * from auth
    </select>
    <select id="selectAuthByName" resultType="Auth">
        select * from auth where
        auth_name = #{auth_name}
    </select>
    <select id="getAuth" parameterType="int" resultMap="authRoleMap">
        select auth_resource from auth a,role_auth ra,role r
        where
        a.auth_id = ra.auth_id
        and
        r.role_id = ra.role_id
        and
        r.role_id = #{role_id}
    </select>
    <select id="findAuthByPid" parameterType="int" resultType="Auth">
        select auth.* from auth,user,role_auth
        where
        user_id = #{user_id}
        and
        auth.auth_pid = #{auth_pid}
        and
        user.role_id = role_auth.role_id
        and
        auth.auth_id = role_auth.auth_id
        and
        auth.open = 1
    </select>
</mapper>