<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.LevelMapper">
    <insert id="addLevel" parameterType="Level">
        insert into level(level_name) values(#{level_name})
    </insert>
    <delete id="delLevel" parameterType="Level">
        delete from level where level_id = #{level_id}
    </delete>
    <select id="findAllLevel" resultType="Level">
        select * from level
    </select>
    <select id="selectLevelByName" resultType="Level">
        select * from level where
        level_name = #{level_name}
    </select>
    <update id="updateLevel" parameterType="Level">
        update level
        set
        level_name = #{level_name}
        where
        level_id = #{level_id}
    </update>
</mapper>