<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.NatureMapper">
    <insert id="addNature" parameterType="Nature">
        insert into nature(nature_name) values (#{nature_name})
    </insert>
    <delete id="delNature" parameterType="Nature">
        delete from nature where nature_id = #{nature_id}
    </delete>
    <select id="findAllNature" resultType="Nature">
        select * from nature
    </select>
    <select id="selectNatureByName" parameterType="string" resultType="Nature">
        select * from nature where
        nature_name = #{nature_name}
    </select>
    <update id="updateNature" parameterType="Nature">
        update nature
        set
        nature_name = #{nature_name}
        where
        nature_id =#{nature_id}
    </update>
</mapper>