<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.PaperMapper">

    <insert id="addPaper" parameterType="Paper">
        insert into paper(
        paper_name,
        leader_id,
        pt_id,
        periodical_id,
        publish_time,
        include_number,
        sc_id,
        subject_id,
        aod_id,
        sd_id,
        remark
        ) values(
        #{paper_name},
        #{leader_id},
        #{pt_id},
        #{periodical_id},
        #{publish_time},
        #{include_number},
        #{sc_id},
        #{subject_id},
        #{aod_id},
        #{sd_id},
        #{remark}
        )
    </insert>
    <select id="selectPaperByNumber" parameterType="Paper" resultType="Paper">
        select * from paper
        where
        include_number = #{include_number}
    </select>
    <select id="selectPaperByCondition" parameterType="java.util.HashMap" resultType="Paper">
        select * from paper
        <where>
            <if test="paper_name!=null and paper_name!=''">
                and paper_name = #{paper_name}
            </if>
            <if test="leader_id!=null and leader_id!=''">
                and leader_id = #{leader_id}
            </if>
            <if test="periodical_id!=null and periodical_id!=''">
                and periodical_id = #{periodical_id}
            </if>
            <if test="publish_time_start!=null and publish_time_end!=null ">
                <![CDATA[
                and paper.publish_time >= #{publish_time_start}
                and paper.publish_time <= #{publish_time_end}
                ]]>
            </if>
            <if test="include_number!=null and include_number!=''">
                and include_number = #{include_number}
            </if>
            <if test="sc_id!=null and sc_id!=''">
                and sc_id = #{sc_id}
            </if>
            <if test="subject_id!=null and subject_id!=''">
                and subject_id = #{subject_id}
            </if>
            <if test="aod_id!=null and aod_id!=''">
                and aod_id =#{aod_id}
            </if>
            <if test="sd_id!=null and sd_id!=''">
                and sd_id =#{sd_id}
            </if>
            <if test="remark!=null  and remark!='' ">
                and remark =#{remark}
            </if>
        </where>
        <if test="pageNum != null and pageSize != null">
            <bind name="key_offset" value="(pageNum-1)*pageSize"></bind>
            limit #{key_offset},#{pageSize}
        </if>
    </select>
    <update id="updatePaper" parameterType="Paper">
        update paper
        <trim prefix="set" suffixOverrides=",">
            <if test="paper_name!=null and paper_name!=''">
                paper_name = #{paper_name},
            </if>
            <if test="leader_id!=null and leader_id!=''">
                leader_id = #{leader_id},
            </if>
            <if test="periodical_id!=null and periodical_id!=''">
                periodical_id = #{periodical_id},
            </if>
            <if test="publish_time!=null">
                <![CDATA[
                 paper.publish_time = #{publish_time},
                ]]>
            </if>
            <if test="include_number!=null and include_number!=''">
                include_number = #{include_number},
            </if>
            <if test="sc_id!=null and sc_id!=''">
                sc_id = #{sc_id},
            </if>
            <if test="subject_id!=null and subject_id!=''">
                subject_id = #{subject_id},
            </if>
            <if test="aod_id!=null and aod_id!=''">
                aod_id =#{aod_id},
            </if>
            <if test="sd_id!=null and sd_id!=''">
                sd_id =#{sd_id},
            </if>
            <if test="remark!=null  and remark!='' ">
                remark =#{remark}
            </if>
        </trim>
        where paper_id = #{paper_id}
    </update>
    <delete id="delPaperById" parameterType="int">
        delete from paper
        where
        paper_id = #{ppaper_id}
    </delete>

    <select id="selectTotalPaper" parameterType="java.util.HashMap" resultType="int">
        select count(*) count from paper
        <where>
            <if test="paper_name!=null and paper_name!=''">
                and paper_name = #{paper_name}
            </if>
            <if test="leader_id!=null and leader_id!=''">
                and leader_id = #{leader_id}
            </if>
            <if test="periodical_id!=null and periodical_id!=''">
                and periodical_id = #{periodical_id}
            </if>
            <if test="publish_time_start!=null and publish_time_end!=null ">
                <![CDATA[
                and paper.publish_time >= #{publish_time_start}
                and paper.publish_time <= #{publish_time_end}
                ]]>
            </if>
            <if test="include_number!=null and include_number!=''">
                and include_number = #{include_number}
            </if>
            <if test="sc_id!=null and sc_id!=''">
                and sc_id = #{sc_id}
            </if>
            <if test="subject_id!=null and subject_id!=''">
                and subject_id = #{subject_id}
            </if>
            <if test="aod_id!=null and aod_id!=''">
                and aod_id =#{aod_id}
            </if>
            <if test="sd_id!=null and sd_id!=''">
                and sd_id =#{sd_id}
            </if>
            <if test="remark!=null  and remark!='' ">
                and remark =#{remark}
            </if>
        </where>
    </select>
</mapper>