<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.ProjectMapper">
    <resultMap id="projectMap" type="com.sicnu.pojo.Project">
        <id property="project_id" column="project_id"/>
        <result property="project_name" column="project_name"/>
        <result property="leader_id" column="leader_id"/>
        <result property="department_id" column="department_id"/>
        <result property="aod_id" column="aod_id"/>
        <result property="sc_id" column="sc_id"/>
        <result property="subject_id" column="subject_id"/>
        <result property="nature_id" column="nature_id"/>
        <result property="level_id" column="level_id"/>
        <result property="status_id" column="status_id"/>
        <result property="sd_id" column="sd_id"/>
        <result property="at_id" column="at_id"/>
        <result property="approval_number" column="approval_number"/>
        <result property="start_time" column="start_time"/>
        <result property="plan_time" column="plan_time"/>
        <result property="complete_time" column="complete_time"/>
        <result property="outlay" column="outlay"/>
        <result property="ct_id" column="ct_id"/>
    </resultMap>

    <resultMap id="projectTeamMap" type="project" extends="projectMap">

        <collection property="projectTeams" ofType="com.sicnu.pojo.ProjectTeam">
            <result property="project_id" column="project_id"/>
            <result property="user_id" column="user_id"/>
            <result property="user_role" column="user_role"/>
            <collection property="users" ofType="com.sicnu.pojo.User">
                <id property="user_id" column="user_id"/>
                <result property="user_act" column="user_act"/>
                <result property="user_pwd" column="user_pwd"/>
                <result property="user_name" column="user_name"/>
                <result property="user_email" column="user_email"/>
                <result property="user_number" column="user_number"/>
                <result property="user_id_number" column="user_id_number"/>
                <result property="user_state" column="user_state"/>
                <result property="department_id" column="department_id"/>
                <result property="role_id" column="role_id"/>
            </collection>
        </collection>
    </resultMap>

    <insert id="addProject" parameterType="Project">
        insert into project(
        project_name,
        leader_id,
        department_id,
        aod_id,
        sc_id,
        subject_id,
        nature_id,
        level_id,
        status_id,
        sd_id,
        at_id,
        approval_number,
        start_time,
        plan_time,
        complete_time,
        outlay,
        ct_id)
        values(
        #{project_name},
        #{leader_id},
        #{department_id},
        #{aod_id},
        #{sc_id},
        #{subject_id},
        #{nature_id},
        #{level_id},
        #{status_id},
        #{sd_id},
        #{at_id},
        #{approval_number},
        #{start_time},
        #{plan_time},
        #{complete_time},
        #{outlay},
        #{ct_id}
        )
    </insert>
    <select id="selectProject" parameterType="Project" resultType="Project">
        select * from project
        <where>
            <if test="project_name!=null">
                and project_name = #{project_name}
            </if>
            <if test="leader_id!=null">
                and leader_id = #{leader_id}
            </if>
            <if test="department_id!=null">
                and department_id = #{department_id}
            </if>
            <if test="aod_id!=null">
                and aod_id = #{aod_id}
            </if>
            <if test="sc_id!=null">
                and sc_id = #{sc_id}
            </if>
            <if test="subject_id">
                and subject_id = #{subject_id}
            </if>
            <if test="nature_id!=null">
                and nature_id =#{nature_id}
            </if>
            <if test="level_id!=null">
                and level_id =#{level_id}
            </if>
            <if test="status_id!=null">
                and status_id =#{status_id}
            </if>
            <if test="sd_id!=null">
                and sd_id =#{sd_id}
            </if>
            <if test="at_id!=null">
                and at_id =#{at_id}
            </if>
            <if test="approval_number!=null">
                and approval_number =#{approval_number}
            </if>
            <if test="start_time!=null and complete_time!=null ">
                <![CDATA[
                and project.start_time >= #{start_time}
                and project.start_time <= #{complete_time}
                ]]>
            </if>
            <if test="complete_time!=null and start_time!=null">
                <![CDATA[
                and project.complete_time >= #{start_time}
                and project.complete_time <= #{complete_time}
                ]]>
            </if>
            <if test="outlay!=null">
                and outlay =#{outlay}
            </if>
            <if test="ct_id!=null">
                and ct_id =#{ct_id}
            </if>

        </where>
    </select>
    <delete id="delProject" parameterType="Project">
        delete from project
        where
        project_id = #{project_id}
    </delete>
    <update id="updateProject" parameterType="Project">
        update Project set
        project_name = #{project_name},
        leader_id = #{leader_id},
        department_id =#{department_id},
        aod_id =#{aod_id},
        sc_id = #{sc_id},
        subject_id = #{subject_id},
        nature_id =#{nature_id},
        level_id =#{level_id},
        status_id =#{status_id},
        sd_id =#{sd_id},
        at_id =#{at_id},
        approval_number =#{approval_number},
        start_time =#{start_time},
        complete_time =#{complete_time},
        outlay =#{outlay},
        ct_id =#{ct_id}
    </update>
    <select id="selectProjectId" parameterType="Project" resultType="int">
        select project_id from project
        where
        leader_id = #{leader_id}
        and
        project_name = #{project_name}
    </select>


    <select id="selectTeamByPid" parameterType="int" resultMap="projectTeamMap">
    SELECT
    u.user_name,u.department_id,u.role_id,
    t.user_role
    FROM
    user u,
    project p,
    project_team t
    WHERE
    p.project_id = #{project_id}
    and
    p.project_id = t.project_id
    and
    t.user_id = u.user_id
    </select>
</mapper>