<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.mapper.ProjectTeamExamineMapper">

    <insert id="addProjectTeamExamineUser" parameterType="com.sicnu.pojo.teamExamine.ProjectTeamExamine">
        insert into project_team_examine
        (
        pe_id,
        user_id,
        team_role
        )
        values
        (
        #{pe_id},
        #{user_id},
        #{team_role}
        )
    </insert>

    <delete id="delProjectTeamExamineTeam" parameterType="int">
        delete from project_team_examine
        where
        pe_id = #{pe_id}
    </delete>

    <select id="selectProjectTeamExamineById" parameterType="int" resultType="ProjectTeamExamine">
        select * from project_team_examine
        where
        pe_id = #{pe_id}
    </select>
    <select id="selectProjectTeamExamineUser" parameterType="int" resultType="com.sicnu.pojo.teamMap.ProjectTeamMap">
        SELECT
        u.user_name name,u.department_id department_id,
        u.role_id role_id,t.team_role team_role
        FROM
        user u,
        project_examine p,
        project_team_examine t
        WHERE
        p.pe_id = #{pe_id}
        and
        p.pe_id = t.pe_id
        and
        t.user_id = u.user_id
    </select>

</mapper>