<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.mapper.UserMapper">

    <select id="findByUserAct" parameterType="string" resultType="User">
        select * from user
        where
        user_act = #{user_act}
    </select>
    <select id="findByUserName" parameterType="string" resultType="User">
        select * from user
        where
        user_name = #{user_name}
    </select>
    <select id="findAllUser" parameterType="string" resultType="User">
        select * from user
    </select>

    <select id="findUserById" parameterType="int" resultType="User">
        select * from user
        where
        user_id=#{user_id}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user
        (user_act,
        user_pwd,
        user_name,
        user_email,
        user_number,
        user_id_number,
        user_state,
        department_id,
        role_id,
        salt
        )
        values
        (#{user_act},
        #{user_pwd},
        #{user_name},
        #{user_email},
        #{user_number},
        #{user_id_number},
        #{user_state},
        #{department_id},
        #{role_id},
        #{salt}
        )
    </insert>
    <update id="updatePwd" parameterType="User">
        update user
        set
        user_pwd=#{user_pwd}
        where
        user_act=#{user_act}
        and
        user_email=#{user_email}
        and
        user_number=#{user_number}
        and
        user_id_number=#{user_id_number}
    </update>
    <update id="changeStatus" parameterType="User">
        update user
        set
        user_state=#{user_state}
        where user_id=#{user_id}
    </update>
    <select id="selectUserId" parameterType="string" resultType="int">
        select user_id from user
        where
        user_email = #{user_email}
    </select>
    <select id="queryPermissionByUserId" parameterType="int" resultType="Permission">
        select auth.auth_id id, auth_pid pid, auth_name title, auth_resource resourcePath, open isOpen
        from user, role_auth, auth
        where user_id = #{user_id}
        and user.role_id = role_auth.role_id
        and auth.auth_id = role_auth.auth_id
        and auth.open = 1
    </select>
    <select id="queryPermissionByRoleId" parameterType="int" resultType="Permission">
        select auth.auth_id id, auth_pid pid, auth_name title, auth_resource resourcePath, open isOpen
        from role, role_auth, auth
        where role.role_id = #{role_id}
        and role.role_id = role_auth.role_id
        and auth.auth_id = role_auth.auth_id

    </select>
    <select id="queryAllPermission" parameterType="int" resultType="Permission">
        select auth.auth_id id, auth_pid pid, auth_name title, auth_resource resourcePath, open isOpen
        from auth
    </select>
    <update id="updateUserRole" parameterType="User">
        update user set
        role_id = #{role_id}
        where
        user_id = #{user_id}
    </update>

    <select id="selectAllUserId" resultType="int">
        select user_id from user
    </select>

    <select id="findNameId" parameterType="string" resultType="User">
        select user_id,user_name,department_id,role_id from user
        where
        user_name like '%${user_name}%'
    </select>

    <update id="updateUserMessage" parameterType="User">
        update user
        <trim prefix="set" suffix=",">
            <if test="user_email!=null and user_email!=''">
                user_email=#{user_email},
            </if>
            <if test="department_id!=null and department_id!=null">
                department_id = #{department_id},
            </if>
        </trim>
    </update>

</mapper>